{% extends "main.html" %}
{% autoescape None %}

{% block body %}
	<p>name: {{ artist.get('fullname', '') }}</p>
	<br>
	<p>image: <img src="https://s3.amazonaws.com/doesare_images/{{ artist.get('image', '') }}"</img></p>
	<br>
	<p>members: {{ artist.get('members', '') }}</p>
	<br>
	<p>description: {{ artist.get('description', '') }}</p>
	<br>
	<p>releases: {{ artist.get('releases', '') }}</p>
	<!--
	<br>
	<p>tourdates: {{ artist.get('tourdates', '') }}</p>
	-->
	<br>
	<p>contact info: {{ artist.get('contactinfo', '') }}</p>
	<br>
	<p>Links: {{artist.get('link', '') }}</p>
	<br>
	<br>
	<p><a href="/edit/{{artist.get('shortname', '')}}">Edit</a> | <a href="/deleteartist/{{artist.get('shortname', '')}}">Delete</a></p>
{% end %}
