<html>
	<head>
		<title>{{ page_title }}</title>
		<link rel="stylesheet" href ="{{ static_url("css/style.css") }}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

		<script src="{{static_url("js/scripts.js")}}" type="text/javascript"></script>		
		<link rel="icon" type="image/x-icon" href="{{static_url("images/favicon.ico")}}" />
	
	</head>
	<body>
		<div id="container">
			<div id="logo">
				<a href="/"><img src="{{ static_url("images/doesare_logo_trans_text.png") }}"></img></a>
		</div>
			<div id="nav">
				<p>
				<a href="/news/1">News</a> | <a href="/shop">Shop</a> | <a href="/artists">Artists</a> | <a href="/discography">Discography</a> | <a href="/shows">Shows</a> | <a href="/friends">Friends</a> | <a href="/info">Info</a>
				</p>
			</div>
			<div id="main">
				<div id="content">
					{% block body %}{% end %}
				</div>
			</div>
			<div id="social">
				<p><a href="https://twitter.com/doesare"><img width="25px" src="{{static_url("images/social/twitter.png") }}"></a>  <a href="https://www.facebook.com/Tonstartssbandht"><img width="25px" src="{{static_url("images/social/facebook.png") }}"></a></p>
			</div>
			</div>
		<script src=" {{ static_url("js/scripts.js") }} "></script>
		<script type="text/javascript">

			  var _gaq = _gaq || [];
			    _gaq.push(['_setAccount', 'UA-38707569-1']);
			      _gaq.push(['_trackPageview']);

			        (function() {
				    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
					      })();

				      </script>

	</body>
</html>

